@model TesteColmeiaAPI.Models.Empresa

@{
    ViewBag.Title = "Visualizar";
}

<h2>Dados da Empresa</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("CNPJ Cadastrado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>

        <dt>
            @Html.Label("Nome Fantasia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_fantasia)
        </dd>

        <dt>
            @Html.Label("Telefone Cadastrado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.Label("E-mail de Cadastro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.Label("Data da Criação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_do_cadastro)
        </dd>

        <dt>
            @Html.Label("CEP de cadastro:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.Label("Endereço:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro)
        </dd>

        <dt>
            @Html.Label("Cidade:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidade)
        </dd>

        <dt>
            @Html.Label("Estado:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
